.text-deco-none {text-decoration:none}

.min-height-700 {
    min-height: 700px;
}
.min-height-800 {
    min-height: 800px;
}
.min-height-900 {
    min-height: 900px;
}
.min-height-1000 {
    min-height: 1000px;
}
