.sidebar {
    width: 250px;
    background: #1f2937;
    color: white;
    padding: 20px 15px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
}

.menu {
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px 16px;
    margin-bottom: 10px;

    border-radius: 10px;
    cursor: pointer;

    transition: all 0.25s ease;

    font-size: 16px;
    font-weight: 500;
}

.menu-item span {
    font-size: 20px;
}

.menu-item:hover {
    background: #374151;
    transform: translateX(5px);
}

.menu-item.active {
    background: #2563eb;
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.35);
}

.menu-item:active {
    transform: scale(0.98);
}

.menu-title {
    flex: 1;
}

.menu-arrow {
    margin-left: auto;
    font-size: 8px;
    transition: .25s;
}

.submenu {
    list-style: none;
    margin-left: 18px;
    margin-top: 6px;
    margin-bottom: 8px;
}

.submenu-item {
    padding: 12px 18px;
    margin: 6px 0;

    border-radius: 8px;

    color: #d1d5db;
    cursor: pointer;

    transition: .2s;
}

.submenu-item:hover {
    background: #374151;
    color: white;
    padding-left: 24px;
}










.sidebar.light {
    background: #ffffff;
    color: #111827;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.08);
}

.sidebar.light .menu {
    color: #111827;
}

.sidebar.light .menu-item {
    color: #374151;
}

.sidebar.light .menu-item span {
    color: #4b5563;
}

.sidebar.light .menu-item:hover {
    background: #f3f4f6;
    color: #111827;
}

.sidebar.light .menu-item:hover span {
    color: #2563eb;
}

.sidebar.light .menu-item.active {
    background: #2563eb;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.25);
}

.sidebar.light .menu-item.active span {
    color: #ffffff;
}

.sidebar.light .menu-arrow {
    color: #6b7280;
}

.sidebar.light .submenu {
    color: #4b5563;
}

.sidebar.light .submenu-item {
    color: #6b7280;
}

.sidebar.light .submenu-item:hover {
    background: #f3f4f6;
    color: #111827;
}